<br>
<div class="d-flex align-items-center justify-content-start justify-content-md-around flex-wrap flex-sm-nowrap">
    <div class="avatar-wrapper avatar-extra-text">
      <div class="avatar size-xxl">
        <img src="https://media.springernature.com/w80h80/springer-collections/pcf_sb_5_1589294607827805467/collections/hjiffhehga/editor0.jpg" alt="" aria-hidden="true">
      </div>
      <div class="extra-text">
        <h4><a href="https://www.uniurb.it/persone/stefano-ferretti">Stefano Ferretti </a></h4>
        <p>Associate Professor</p>
        <p>University of Urbino</p>
      </div>
    </div>
    
    <div class="avatar-wrapper avatar-extra-text">
      <div class="avatar size-xxl">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-Xu6cYbMBLvCRlr5-TNLVxJvtMwXktUAYM-9cdhWo3g&s" alt="" aria-hidden="true">
      </div>
      <div class="extra-text">
        <h4><a href="https://www.unibo.it/sitoweb/g.dangelo">Gabriele D’Angelo </a></h4>
        <p>Assistant Professor</p>
        <p>University of Bologna</p>
      </div>
    </div>
</div>
<br>
<div class="d-flex align-items-center justify-content-start justify-content-md-around flex-wrap flex-sm-nowrap">  
    <div class="avatar-wrapper avatar-extra-text">
      <div class="avatar size-xxl">
        <img src="https://www.telematica.polito.it/app/uploads/2018/07/fototessera-2020.jpg" alt="" aria-hidden="true">
      </div>
      <div class="extra-text">
        <h4><a href="https://www.telematica.polito.it/member/paolo-giaccone/">Paolo Giaccone </a></h4>
        <p>Full Professor</p>
        <p>Polytechnic of Turin</p>
      </div>
    </div>
    
    <div class="avatar-wrapper avatar-extra-text">
      <div class="avatar size-xxl">
        <img src="https://dottorato.dimes.unical.it/sites/default/files/styles/focal_point_thumbnail_3x_1_1_300x300_/public/board_members/Furfaro%20A..jpg?h=11eb6ae8&itok=WxknV_Ql" alt="" aria-hidden="true">
      </div>
      <div class="extra-text">
        <h4><a href="https://angelo.furfaro.dimes.unical.it/">Angelo Furfaro </a></h4>
        <p>Assistant Professor</p>
        <p>University of Calabria</p>
      </div>
    </div>
    
  </div>